@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

$main-color: blue;
$main-font: Roboto, Verdana, Sans Serif;

body{
  font-family: $main-font;
  background: $main-color;
}

.jumbotron {
  margin: auto;
  margin-top: 25px;
  width: 50%; }

.mainText{
  font-size: 25px; }

.subText{
  font-size: 15px;
}

#userSearch {
  text-align: left; }

.system {
  display: inline-block; }

.selected {
  font-weight: bold; }

.system a {
  margin-right: 5px; }
